.partners {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include margin-bottom(100, 30);

    @include width(1065, 260);

    @include font(48, 24);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $dark;
  }

  &__logos {
    @include margin-bottom(30, 15);

    @include width(1490, 745);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    @include width(263, 60);
    @include height(263, 60);
  }
}
